<div class="thumbnail">
 
        <div class="caption">
            <h3>{{film.title}}</h3>
            <p>{{film.episode_id}}</p>
            <p>{{film.director}}</p>
            <p>{{film.producer}}</p>
            <p>{{film.release_date}}</p>

        </div>
    </div>
    