.thumbnail {
    display: block;
    padding: 10px;
    margin: 5px;
    float: left;
    max-width:  250px;
    max-height:  300px; 
    background-color: lightseagreen;
    border-color: black;
    border-style: double;
    border-width: thin;
    outline:navy;
    overflow: auto;
}