<div class="thumbnail">
 
    <div class="caption">
        <h3>{{person.name}}</h3>
        <p>{{person.height}}</p>
        <p>{{person.mass}}</p>
        <p>{{person.hair_color}}</p>
        <p>{{person.eye_color}}</p>
        <p>{{person.birth_year}}</p>
        <p>{{person.gender}}</p>
        <p>{{person.homeworld}}</p>
    </div>
</div>
