#img-container{
    width:800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: url('https://vignette.wikia.nocookie.net/starwars/images/c/cc/Star-wars-logo-new-tall.jpg/revision/latest?cb=20190313021755') no-repeat;
    background-size:100% 100%; 
}