<nav>
    <button [routerLink] = "['home']">Home</button>
    <button [routerLink] = "['people']">People</button>
    <button [routerLink] = "['planets']">Planets</button>
    <button [routerLink] = "['films']">Films</button>
    <button [routerLink] = "['species']">Species</button>
    <button [routerLink] = "['vehicles']">Vehicles</button>
    <button [routerLink] = "['starships']">Starships</button>
</nav>