<div class="container">
        <div>
         <input type="text" placeholder="Search Person Name..">
        </div>
        
    <div *ngFor="let person of people">
        <app-person-detail [person]="person"></app-person-detail>
    </div>
  </div>
