<div class="container">
        <div>
            <input type="text" placeholder="Search Planet Name..">
        </div>
        <div *ngFor="let planet of planets">
            <app-planet-detail [planet]="planet"></app-planet-detail>
        </div>
</div>