<div class="thumbnail">
 
        <div class="caption">
            <h3>{{planet.name}}</h3>
            <p>{{planet.rotation_period}}</p>
            <p>{{planet.orbital_period}}</p>
            <p>{{planet.climate}}</p>
            <p>{{planet.terrain}}</p>
            <p>{{planet.surface_water}}</p>
            <p>{{planet.population}}</p>

        </div>
    </div>