<div class="container">
        <div>
            <input type="text" placeholder="Search Film Title..">
        </div>
        <div *ngFor="let film of films">
            <app-film-detail [film]="film"></app-film-detail>
        </div>
</div>
    
